body{
    background-image: url(./img/pexels-giftpunditscom-1303098.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
#overallDiv{
    width: 60%;
    height: 500px;
    background-color: rgb(200, 199, 199);
    /* opacity: 0.8; */
    margin: 100px auto auto auto;
    border-radius: 10px;
}
#heading{
    text-align: center;
}

#btnDiv{
    margin-top: 40px;
    /* background-color: lightblue; */
    text-align: center;
}
#btn{
    width: 30%;
    height: 60px;
    font-size: x-large;
    border-radius: 10px;
    border: none;
}

#pDiv{
    text-align: center;
    margin-top: 80px;
}
#Output{
    text-align: center;
}
#playAgain{
    width: 20%;
    height: 40px;
    font-size: x-large;
    border-radius: 10px;
    border: none;
    display: none;
}
#DivplayAgain{
    text-align: center;
}
#recent{
    text-align: center;
}